body {
    position: relative;
    background-color: lightgray;
    background-image: url(images/RPG_Background.png);
}

p {
    text-indent: 30px;
}

#project-header {
    padding-top: 35px;
    margin-bottom: -30px;
}

#content {
    margin: 0 auto;
    background-color: rgba(211, 211, 211, .8);
    width: 80%;
    max-width: 1000px;
}

#project-summary {
    margin-top: 60px;
}

.project-video{
    margin: 0 auto;
    width: 90%;
    margin-top: 40px;
    max-height: 400px;
}

.section-heading {
    margin-left: 150px;
}

.text-game-screenshot {
    max-width: 550px;
    width: 95%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.game-screenshot {
    max-width: 400px;
    width: 95%;
    height: auto;
    display: inline-block;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    
}

.line {
    border: 1px solid black;
}

.line3 {
    border: 2px solid white;
    width: 200px;
}

.navbar {
    background-color: darkblue;
}

/* Section below is needed for contact info section */
.contact {
   background-color: black;
    color: white;
    height: auto;
    padding-bottom: 5px;
    text-align: center;
}

a i {
    text-decoration: none;

}

li.contact-link-icons {
    list-style: none;
    margin-left: 20px;
    font-size: 1.3em;
    display: inline;
}

.fa-linkedin {
    background-color:#0077B5;
    color: white;
}

.fa-github {
    color: white;
}

.fa-free-code-camp {
    color: white;
    background-color: green;
}

#copyright {
    margin-top: 20px;
}