div {
    margin-left: 160px;
    margin-right: 10%;
}
div#navbar {
    background-color: black;
    color: white;
    position: fixed;
    margin: 0;
    left: 0;
    top: 20;
    width: 15.0%;
    min-width: 140px;
    max-width: 150px;
    height: 100%;
    border-right: 7px solid red; 
}

div#navbar ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
}

div#navbar ul li {
    display: inline-block;
    padding: 5px 0 5px 0;
    margin: 10px 0 10px 0;
    width: 100%;
    text-align: center;
}

div#navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

li.change-background:hover {
    background-color: blue;
    
}

.active-nav-bar {
    background-color: green;

}

p {
    text-indent: 50px;
}

#top-image{
    max-width: 550px;
    width: 70%;
    height: auto;
}

.section-heading {
    margin-left: 150px;
}

.text-game-screenshot {
    max-width: 550px;
    width: 95%;
    height: auto;
}

.game-screenshot {
    max-width: 300px;
}

.line {
    border: 1px solid black;
}