body {
    overflow-x: hidden;
    /* To prevent horizontal scrolling bar from showing up*/
}

.fa-linkedin {
    background-color:#0077B5;
    color: white;
}

.fa-github {
    color: white;
}

.fa-free-code-camp {
    color: white;
    background-color: green;
}

/*
.top-image {
    min-width: 100%;
    max-width: 100%;
    height: 700px;
    align-items: center;
}
*/

a i {
    text-decoration: none;

}

.navbar {
    background-color: rgba(0, 0, 139, .5);
}

.links {
    display: flex;
    margin-right: -10px;
    padding-right: 10px;
    justify-content: flex-end;
}

li {
    list-style: none;
    margin-left: 20px;
    font-size: 1.3em;
    
}

li.change-background :hover {
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 6px 0 17px 0;
}

#home {
    background-image: url(../Images/Top_Image.jpg);
    background-repeat:no-repeat;
    background-position:center;
    min-width: 100%;
    max-width: 100%;
    height: 700px;
    align-items: center;
}

.home {
    background-color: black;
}

.section-heading {
    font-size: 42px;
    text-align: center;
    font-weight: 400;
}

#text {
    width: 60%;
    text-align: center;
    color: ghostwhite;
    font-size: 34px;
    position: absolute;
    top: 140px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgba(0, 0, 0, .4);
}

#text2 {
    margin-left: -12px;
}

.text2Hide {
    visibility: hidden;
}

.skills {
    background-color: black;
    height: auto;
    color: white;
    text-align: center;
    margin-top: -100px;
    padding-bottom: 30px;
}

#skills {
    background-image: url(../Images/skills-picture.jpg);
    background-repeat:no-repeat;
    background-position:center; 
    background-size: cover;
    height: auto;
}

#my-skills-content {
    background-color: rgba(0, 0, 0, .85);
    width: 70%;
    min-width: 280px;
    margin: 0 auto;
    margin-top: 50px;
}

.skill-name {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.skill-icon {
    font-size:60px; 
}

.jquery-effect {
    min-height: 124px;
}

.bootstrap-logo-sizing {
    min-height: 160px;
}

.bootstrap-text {
    display: inline-block;
}

.projects {
    height: auto;;
    color: black;
    text-align: center;
    background-color: darkgrey;
}

.project-description {
    font-size: 18px;
    margin-top: 5px;
    width: 90%;
    margin: 0 auto;
}

.project-picture {
    min-width: 250px;
}

.project-video {
    max-height: 308px;
    max-width: 600px;
}

.project-picture1 {
    max-width: 375px;
}

.activity-finder-description {
    margin-top: 12px;
}

#my-projects-content {
    background-color: rgba(211, 211, 211, .7);
    margin-top: 50px;
    margin-bottom: 20px;
}

#my-projects {
    background-image: url(../Images/projects-picture.jpg);
    background-repeat:no-repeat;
    background-position:center; 
    background-size: cover;
    height: auto;
}

/*
#about-me {
    background-image: url(../Images/education_picture.jpg);
    background-size: 1800px;
}
*/

.about-me-pic1 {
    background-image: url(../Images/education_picture.jpg);
    background-repeat:no-repeat;
    background-position:center; 
}

.about-me-pic2 {
    background-image: url(../Images/work_picture.jpeg);
    background-repeat:no-repeat;
    background-position:center; 
    background-size: cover;
}

.about-me-pic3 {
    background-image: url(../Images/coding_picture.jpg);
    background-repeat:no-repeat;
    background-position:center; 
}

.about-me {
    height: auto;
    color: black;
    text-align: center;
    padding: 0px 0 30px 0;
    margin-bottom: 20px;
    min-height: 800px;
}

#education {
    text-align: left;
}

.about-heading {
    text-align: left;
    font-size: 20px;
    display: inline-block;
    float: left;
}

.dates {
    font-size: 20px;
    text-align: right;
    display: inline-block;
    float: right;
}

.contact {
    background-color: black;
    color: white;
    height: auto;
    padding-bottom: 5px;
    text-align: center;
    margin-top: -20px;
}

.line {
    border: .5px solid black;
    margin-top: -5px;
    margin-bottom: 5px;
}

.line2 {
    width: 50%;
    min-width: 240px;
    border: 1px solid black;
}

.line3 {
    border: 1px solid white;
    width: 200px;
}
/* Used to keep arrows centered in about me section*/
.line4 { 
    border: 0px solid white;
    width: 200px;
}

.linkedin-bottom, .github-bottom {
    margin-right: 20px;   
}

#fa-linkedin {
    text-decoration: none;
}

#contact-links {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

p.about-me-text {
    text-indent: 30px;
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
    color: dark
}

#about-me-content {
    width: 80%;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0px 0 40px 0;
    background-color: rgba(220, 240, 270, .70);
}

.about-me-heading {
    margin-left: 3%;
    margin-right: 3%;
}

#about-me-nav, #about-me-categories {
    display: inline-flex;
    font-size: 14px;
}

#about-me-education, #about-me-experience, #about-me-before-web-dev{
    margin-right: 10px;
    padding: 10px;
    font-weight: 700;
}

#about-me-software-dev, #about-me-after-web-dev  {
    padding: 10px 0;
    font-weight: 700;
}

#about-me-before-web-dev {
    margin-right: 20px;
}

#about-me-education, #about-me-experience, #about-me-software-dev {
    margin-bottom: -50px;
}

#about-me-software-dev {
    margin-left: 0px;
}

#about-me-experience {
    margin-right: 70px;
}

#about-me-education:hover, #about-me-experience:hover, #about-me-software-dev:hover, .previous-about-me:hover, .next-about-me:hover {
    background-color: rgba(0, 0, 139, .5);
    color: azure;
}

.active-about-me {
    background-color: rgba(0, 0, 250, .5);
}

#about-me-section1, #about-me-section2, #about-me-section3 {
    width: 85%;
    margin: 0 auto;
}

.about-me-section {
    text-align: center;
    align-content: center;
}

.about-me-heading-main {
    text-align: center;
    margin: 0 auto;
    width: 200px;
    margin-bottom: -30px;
}

#arrows {
    display: inline-flex;
    margin-top: -20px;
    margin-bottom: 30px;
}

.previous-about-me, .next-about-me {
    margin-top: 20px;
}

.hide-arrow {
    visibility: hidden; 
}

@media only screen and (max-width: 400px) {
    .project-picture {
        width: 95%;
    }
}

@media only screen and (max-width: 1150px) {
    span.project-heading {
        height: 80px;
        display: inline-block;
        vertical-align: middle;
    }
}